* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #5284cf;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5284cf;
}

#link-icons {
    background-color: transparent;
    margin-top: 10px;
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: 'Michroma', sans-serif;
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

ol li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    background-color: #71A9F7;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 10px;
    animation: transitionIn 1s;
    text-decoration: none;
  }

ol li:hover {
    background-color: #3c7fdd;
    cursor: pointer;
}

ol li a{
    text-decoration: none;
    color: black;
  }

a:visited {
    text-decoration: none;
    color: black;
}

article {
    display: flex;
    justify-content: center;
    margin: 10px;
}

div {
    background-color: rgb(49, 49, 49);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

aside {
    border: 5px solid rgb(49, 49, 49);
    display: inline-block;
    background-color: #3976bc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.select-form {
    margin: 5px;
    width: 200px;
    height: 40px;
    border: #3976bc;
    border-radius: 10px;
    text-align: center;
}

aside input {
    margin: 5px;
    width: 200px;
    height: 40px;
    border: #3976bc;
    border-radius: 10px;
    text-align: center;
}

.radio-form {
    height: 15px;
    width: 20px;
    margin-top: 0px;
    padding: 0;

}

label {
    font-size: 14px;
    margin: 0;
    padding: 0;   
    display: flex;
    justify-content: start;
}

aside h3 {
    text-align: center;
}

aside h5 {
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: center
}

aside button {
    border: 2px solid rgb(49, 49, 49);
    margin: 1px;
    margin-top: 14px;
    margin-left: 30px;
    height: 30px;
    padding: 5px;
    width: 150px;
    overflow: visible;
    border-radius: 10px;
    background: transparent;
    display: flex;
    justify-content: center;
}

aside button:hover {
    background-color: rgb(49, 49, 49);
    color: white;
    cursor: pointer;
}

#tourney-list-holder {
    color: white;
    text-align: center;
    margin-top: 17%;
}

.tournament-text-name {
    pointer-events: none;
}

footer {
    border: 4px solid rgb(49, 49, 49);
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    display: block;
    position: relative;
}

#reg-button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
}

#reg-button:hover {
    background-color: black;
    color: white;
}

#button-div {
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-right: 32px;
}

.data-buttons {
    border: 3px solid rgb(49, 49, 49);
    margin: 5px;
    padding: 3px;
    width: auto;
    overflow: visible;
    border-radius: 10px;
    background: white;
    position: static;
    z-index: 200;
   
}

.data-buttons:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}

#avg-entrants-button {
    margin-left: 25px;
}

li {
    border: 2px solid rgb(49, 49, 49);
    width: 100%;    
}

#tourney-list {
    border: 4px solid rgb(49, 49, 49);
    height: 300px;
    width: 700px;
    display: inline-block;
    overflow-x:hidden
  }

canvas {
    display: flex;
    justify-content: center;
}

#attendee-list {
    border: 4px solid rgb(49, 49, 49);
    // background-color: #3976bc;
    border-radius: 10px;
    margin: 10px;
    display: none;
    justify-content: center;
    height: 400px;
    position: relative;
    overflow-x:hidden;
    background-image: url("https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/en_US/games/switch/s/super-smash-bros-ultimate-switch/hero"); // https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/gamecube_12/SI_GCN_SuperSmashBrosMelee_image1600w.jpg
    background-size: cover;
}

#attendee-list li {
    display: flex;
    justify-content: center;
    border: 3px solid rgb(49, 49, 49);
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
    background-color: white;
}

#attendee-list li:hover {
    cursor: pointer;
    background-color: rgb(199, 199, 199);
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform:translateX(200px);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}